* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: gray;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

main {
    margin-top: 50px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-panel > * {
    height: 50px;
}

.search-panel > input {
    margin-right: 10px;
}

.search-panel > button {
    font-size: 20px;    
}

.thumbnail {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.thumbnail {
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.thumbnail p {
    font-size: 16px;
}

.thumbnail:hover {
    cursor: pointer;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

img {
    margin: 0;
}

.modal-body b {
    float: right
}

.paginator {
    text-align: center;
    margin: 10px 0 50px 0;
}

.paginator button {
    -ms-border-radius:0;
    border-radius: 0;
    background-color: white;
    color: gray;
    border: solid 1px black; 
}

.paginator div {
    margin: 7px 10px 0 10px
}